{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ product['name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user['id'] == product['user_id'] %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ product['name'] }}" required>
    <label for="description">Description</label>
    <input name="description" id="description" value="{{ product['description'] }}" required>
    <label for="price">Price</label>
    <input name="price" id="price" type = "number" value="{{ product['price'] }}" required>
    <td class="text-center align-middle"><a href="{{ url_for('product.update', id = product['id']) }}">Edit</a></td>
  </form>
{% else %}
  <form>
    <label for="description">Description</label>
    <input name="description" id="description" value="{{ product['description'] }}" required>
    <label for="price">Price</label>
    <input name="price" id="price" type = "number" value="{{ product['price'] }}" required>
    <label for="quantity">Quantity</label>
    <input name="quantity" id="quantity" type= "number" value = "{{ product['quantity'] }}"required>
    <td class="text-center align-middle"><a href="{{ url_for('purchase.buy_product', product_id=product['id']) }}">Buy</a></td>
    <form href="{{ url_for('product.add_to_cart', id=product['id'], quantity=request.form['quantity']) }}" method="post">
      <input type="submit" method = "post" value="Add to cart" onclick="return confirm('Are you sure?');">
    </form>

  </form>
{% endif %}
{% endblock %}